.tile {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  text-align: center;
}

.grabbed {
  display: none;
}

.tile-persons {
  line-height: 4rem;
}

.tile.out-of-bound {
  background-color: rgba(19, 18, 18, 0.12) !important;
  color: rgba(19, 18, 18, 0.38);
  cursor: auto;
}
