.tile-context-menu {
  position: fixed;
  z-index: 1500;
  background-color: white;
  border: 2px solid black;
  border-bottom: 0;
}

.tile-context-menu div {
  padding: 0.5rem;
  border-bottom: 2px solid black;
  color: initial;
}

.tile-context-menu div:hover {
  background-color: #ebebeb;
}

.tile-context-menu div.disabled {
  cursor: default;
  background-color: #ebebeb;
}

.tile-context-menu div.disabled:hover {
  background-color: #ebebeb;
}

.tile-context-menu svg {
  margin-right: 0.5rem;
}

.tile-context-menu .remove {
  color: #c72323;
}

.tile-context-menu .remove.disabled {
  color: #c5a4a4;
}

.tile-context-menu .assign-color .icon {
  border-radius: 1rem;
  display: inline-block;
  border: 2px solid black;
  margin-right: 0.5rem;
  vertical-align: bottom;
}

.tile-context-menu .assign-color.disabled {
  color: gray;
}
