.tile {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  z-index: 100;
  text-align: center;
}

.grabbed {
  z-index: -9999;
}

.tile-persons {
  line-height: 4rem;
}

.tile.out-of-bound {
  background-color: rgba(190, 190, 190, 0.69) !important;
  cursor: auto;
}
