.save-and-reset {
  position: absolute;
  right: 0;
}

.save-and-reset > .button {
  display: inline-block;
  line-height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button.save {
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid black;
  background-color: #3d7deb;
  color: white;
}

.save:hover {
  background-color: #2e63bf;
}

.save:active {
  background-color: #234a8d;
}

.button.reset {
  color: black;
}
