.save-and-reset {
  position: absolute;
  right: 0;
}

.save-and-reset > .button {
  display: inline-block;
  line-height: 2rem;
  margin-right: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.button.save {
  background-color: #3d7deb;
  color: white;
}

.save:hover {
  background-color: #2e63bf;
}

.save:active {
  background-color: #234a8d;
}

.button.reset {
  background-color: #d0d0d0;
}

.reset:hover {
  background-color: #bbbbbb;
}

.reset:active {
  background-color: #9d9d9d;
}
