.header {
  position: fixed;
  top: 0;
  left: 0.5rem;
  right: 0.5rem;
  background-color: white;
  z-index: 1100;
}

.date-input {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  line-height: 4rem;
}
