.occupation-info {
  position: fixed;
  z-index: 9999;
  background-color: white;
  border: 2px solid black;
}

.hidden {
  display: none;
}

.occupation-info-header {
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.occupation-info-header.name {
  font-weight: bold;
}

.occupation-info-header.room-type {
  border-bottom: 2px solid black;
  padding-bottom: 1rem;
}

.occupation-info-data {
  padding-left: 0.5rem;
}
