.room-number {
  position: relative; /* ciao daniel :) */
  height: 4rem;
  width: 6rem;
  line-height: 4rem;
  border: 1px solid black;
  border-top: 0;
  text-align: center;
  background-color: white;
}

.room-number-last {
  border-bottom: 0;
}
