.table-container {
  position: absolute;
  top: calc(8rem + 2px);
  width: calc(100% - 7rem - 3px);
  max-height: calc(100% - 8.5rem - 2px);
  margin-left: calc(6rem + 2px);
  overflow: scroll;
  overscroll-behavior: none;
}
