.table-container {
  position: absolute;
  top: calc(8rem + 1px);
  bottom: 0.5rem;
  width: calc(100% - 7rem - 3px);
  margin-left: calc(6rem + 2px);
  overflow: scroll;
  border-bottom: 1px solid black;
}
