.tile {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
  z-index: 100;
}

.grabbed {
  z-index: -9999;
}

.tile-name {
  font-size: 1.2em;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
}

.tile-room {
  position: absolute;
  bottom: 0.1em;
  right: 0.1em;
}
