.day {
  flex-direction: row;
  position: relative;
  border-right: 2px solid black;
  width: 4rem;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

.day.selected {
  box-shadow: 0px 0px 21px -6px inset black;
}
