.month-year {
  position: absolute;
  z-index: 1;
  height: 3.75rem;
  width: 6rem;
  border-right: 2px solid black;
  text-align: center;
  background-color: white;
}

.month-year > span {
  display: inline-block;
  height: 2rem;
  margin-top: 0.75rem;
}
