.dialog .row.client-data div.field-label {
  flex-basis: auto;
  width: 8rem;
}

.dialog .list-container.client-booking {
  min-height: auto;
}

.dialog .list-container.client-booking .row {
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 4px 1px black;
  border: 0;
}
