.label {
  margin-right: 0.2rem;
}

.dialog-table .row {
  justify-content: space-between;
  padding-right: 1rem;
}

.dialog-table .row.centered {
  justify-content: center;
  padding-right: 0;
}

.react-datepicker-wrapper input.invalid {
  box-shadow: 0 0 0 2px inset #c72323;
}
